<div class="div-main">


    <div class="left">
        <h1> About Us </h1>
        <p>
            Base Apparel Store is an entity with culture, character and personality and it is our
            intention for Base Apparel brand to be recognized as a champion of the people, where communitie can be inspired through the brands creativity.
    
        </p>
        <p>
            We live in a society that encourages freedom of expression and the ability to be your own
            unique inividual, hence Base Apparel's brand culture is to provide quality service an honest connection and empowerment
            to all by creating confidence in the individual wearing a design crafted by the brand.
        </p>
        <p>
            The brand offeres a unique, interactive experience in which the client plays a role 
            in the design process by collabrating with the designers.
        </p>
      </div>
    
      <div class="right"> 
        <picture>
            <img src="./assets/indeximg.jpg" alt="" height="500px" >
        </picture>
      </div>
    </div>
