/* .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  } */
  
  /* .example-full-width {
    width: 100%;
  } */

  /* .card{
    /* padding: 100px 100px 100px 100px; 
    padding-left: 150px;
    padding-top: 182px;
    padding-bottom: 115px;
    padding-right: 151px;
    width: 50%;*/
    /* margin-top: 200px; 
    margin-left: 400px;
    height:450px ;
    
  } */
  .card{
    border-top-width: 90px;
    border-right-width: 90px;
    padding-left: 180px;
    border-left-width: 90px;
    border-bottom-width: 90px;
    padding-bottom: 193px;
    padding-top: 107px;
    margin-top: 1px;
    margin-bottom: 12px;
    margin-right: 300px;
    margin-left: 300px;
    top: 56px;
    align-content: center;
  }