





<div class="reg-div">
<div style="width: 100%; height: 750px;">
  <div style="width:650px; height: 800px; float: left; margin-left: 150px;"> 
    <img src="./assets/reg.jpg" alt="register">
  </div>
  <div style="margin-left: 50%;; margin-right: 150px; width: 650   "> 
    <div class="card">
      <form>
        <div class="text-center mb-3" style="padding-top: 30px; margin-bottom: 1px;">
          <h4>Sign Up</h4>
          <p>Sign up with:</p>
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fa fa-facebook"></i>
          </button>
  
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fa fa-google"></i>
          </button>
  
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fa fa-twitter"></i>
          </button>
  
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fa fa-github"></i>
          </button>
        </div>
  
        <p class="text-center" style=" margin-bottom:5px">or:</p>
  
        <div class="register-body">
        <!-- Name input -->
        <div class="form-outline mb-4 labels">
          <input type="text" id="registerName" class="form-control" />
          <label class="form-label" for="registerName">Name</label>
        </div>
  
        <!-- Username input -->
        <div class="form-outline mb-4 labels">
          <input type="text" id="registerUsername" class="form-control" />
          <label class="form-label" for="registerUsername">Username</label>
        </div>
  
        <!-- Email input -->
        <div class="form-outline mb-4 labels">
          <input type="email" id="registerEmail" class="form-control" />
          <label class="form-label" for="registerEmail">Email</label>
        </div>
  
        <!-- Password input -->
        <div class="form-outline mb-4 labels">
          <input type="password" id="registerPassword" class="form-control" />
          <label class="form-label" for="registerPassword">Password</label>
        </div>
  
        <!-- Repeat Password input -->
        <div class="form-outline mb-4 labels">
          <input type="password" id="registerRepeatPassword" class="form-control" />
          <label class="form-label" for="registerRepeatPassword">Repeat password</label>
        </div>
  
        <!-- Checkbox -->
        <div class="form-check d-flex justify-content-center mb-4" style="margin-top: 10px;">
          <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
            aria-describedby="registerCheckHelpText" />
          <label class="form-check-label" for="registerCheck" >
            I have read and agree to the terms
          </label>
          
          
        </div>
        <div>
          <button type="submit" class="btn btn-primary btn-block mb-3" >Sign in</button>
        </div>
  
        <!-- Submit button -->
        
      </div>
      </form>
  </div>
  </div>
</div>
</div>



<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<!-- <div>
  <img src="./assets/reg.jpg" alt="register">
</div> -->
